<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>DressScrapper - Adidas</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="{{ asset('css/materialize.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{ asset('favicon.ico')}}" />

</head>
<body>
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
          <img class="adidas-logo" src="/img/adidas-logo.png" alt="logo">
        </a>
          <ul class="right hide-on-med-and-down ">
          <li><a href="{{ path('app_default_index', {'gender': 'hommes'}) }}" class="white-text">Chaussure Homme</a></li>
          <li><a href="{{ path('app_default_index', {'gender': 'femmes'}) }}" class="white-text">Chaussure Femme</a></li>
        </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h2 class="header center black-text">Catalogue Adidas Chaussures {{ gender }}</h2>
      <div class="row">
        <div class="left">
          <a href="{{ path('update_database', {'gender': gender}) }}" onclick="Materialize.toast('Updating Database....', 4000)" id="update-db" class="btn-large waves-effect waves-light black white-text flex">Update Database
            <i class="material-icons pad-left">update</i></a>
        </div>
        <div class="right">
          <a href="{{ path('export_csv', {'gender': gender}) }}" id="export-csv" class="btn-large waves-effect waves-light black white-text flex">Export to CSV
            <i class="material-icons pad-left">import_export</i></a>
        </div>
      </div>
      <div class="row center">
        <h5 class="header col s12 light">Total: {{ products|length }} articles</h5>
      </div>
    
      <table class="highlight">
        <thead>
          <tr>
              <th>Product ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Base Price</th>
              <th>Current Discount</th>
          </tr>
        </thead>

        <tbody>
          {% for product in products %}
            <tr>
                <td>{{ product.productId }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ product.basePrice }} €</td>
                <td>{% if product.discount == 0 %}
                    -
                    {%  else %}
                        {{ product.discount }} %
                    {%  endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
            
        </div>
       </div>

  <div class="container">
    <div class="section">
      <div class="row">
    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ asset('js/materialize.js') }}"></script>
  <script src="{{ asset('js/init.js') }}"></script>

  </body>
</html>
